@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	background-color: #fff;
	color: #70757f;
	min-height: 100%;
	background-color: #bac5db;
	background-image: linear-gradient(30deg, #eef1f7, #bac5db);
}

.news{
	height: 400px;
	width: 700px;
	background-color: #353a45;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 25px;
	text-align: center;
	&__logo{
		transform: translate(30%, -50%);
		position: relative;
	}
	&__close{
		position: relative;
		float: right;
		margin: 10px;
	}
	&__name{
		margin: 0;
		font-size: 4.8rem;
		color: #538fff;
		font-weight: bold;
	}
	p{
		font-size: 2.2rem;
		color: #fff;
	}
	&__input{
		border:2px solid #fff;
		padding: 10px;
		width: 55%;
		position: relative;
		background-color: #fff;
		border-radius: 15px;
		outline: none;
	}
	&__submit{
		margin-left: 15px;
		border:2px solid #538fff;
		padding: 10px;
		width: 25%;
		position: relative;
		background-color: #538fff;
		border-radius: 15px;
		outline: none;
		color: #fff;
		text-transform: uppercase;
	}
	span{
		display: block;
		margin-top: 40px;
		font-style: italic;
	}
}
